$active-color: var(--active-color);

// Containers
$main-bg: var(--main-bg);
$section-bg: var(--section-bg);

// Text
$text-main: var(--text-main);
$text-light: var(--text-light);

// Gradients
$section-dots-gradient: var(--section-dots-gradient);

:root {
  --active-color: #0487CC;
  --main-bg: rgb(239, 239, 239);
  --section-bg: #FFF;
  --text-main: #000;
  --text-light: #757575;
  --section-dots-gradient: transparent; // do not exists in default theme
}

.dark-theme {
  --active-color: #FCEE0A;
  --main-bg: #000;
  --section-bg: transparent;
  --text-main: #FFF;
  --text-light: #757575;
  --section-dots-gradient: rgba(252, 238, 10, .3);
}