.profile {
  display: flex;
  width: 100%;
}

.profile-avatar {
  padding-right: 1.5rem;
  width: 33.333%;
  flex-shrink: 0;

  img {
    width: 100%;
    box-shadow: 0 0 .5rem rgba(0,0,0,.4);
  }
}

.profile-content {
  padding-left: 1.5rem;
  flex-grow: 1;
}